name: Deploy CloudFormation

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Validate CloudFormation template
        run: aws cloudformation validate-template --template-body file://iac/template.yaml

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --stack-name "${{ secrets.CFN_STACK_NAME }}" \
            --template-file iac/template.yaml \
            --parameter-overrides BucketName="${{ secrets.S3_INPUT_BUCKET_NAME }}"